ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
    position: fixed;
    top: 0;
    width: 99%;
     }
  	     li{
     	 display: inline;
     	 float: left;
     }

     li a {
    display: block;
    color: white;
    text-align: center;
    padding: 3px 3px;
    text-decoration: none;
     }

     a{
     	display: block;
     	padding: 2px;
     	background-color: blue;
     }

     li a:hover{


     } 